.reste{
        float: right;
        margin-left: 50px;

  
}

.podcast-list{
            margin-left: 2em;

}

a{
    text-decoration: none;
    color: $white;
}

a :hover{
    background-color:rgba(154, 154, 154, 0.542);
}