$heightHeader: 7vh;

$white: #FFF;
$lightLightGrey : #F2F4F8;
$lightBrown: #847070;
$red: #FF0000;
$coolGrey: #C1C7CD;
$black: #000000;
$lightBlack: #3B3D3F;
$lightGrey : #D9D9D9;
$darkGrey : #697077;
$lightPurple : #D4C2FC;
$purple : #A568BB;
$lightField: #E9E9E9;
$transparent : transparent;

