
p {
  margin: 0;
}

.podcasts-liste, .emissions-liste {
  @include grid(1fr, auto, 1em, center, center)
}

.podcast {
  background-color: $lightField;
  border-radius: 10px;
  padding: .2em 1em;

  @include flex(row, nowrap, 1.5em, space-between, center);

  &-info p:nth-child(1) {
    @include text-style(1em, $purple, 200);
  }

  &-info p:nth-child(2) {
    @include text-style(1.2em, inherit, 450);
    margin-top: .2em;
  }

  embed {
    height: 3em
  }
}

.emission {
  background-color: $lightGrey;
  border-radius: 10px;
  padding: 3em 1em 1em;
  background-position:center top;
  color: white;
  img {
    height: 2em;
    align-self: flex-end;
  }
  p:nth-child(1) {
    @include text-style(1.2em, inherit, 500);
  }

  p:nth-child(2) {
    @include text-style(1em, inherit, 200);
    margin-top: .2em;
  }
}

@media screen and (min-width: 700px) {
  .podcasts-liste {
    @include grid(repeat(auto-fill, minmax(20em, 1fr)), auto, 2em, center, center);
  }
  .emissions-liste {
    @include grid(repeat(auto-fill, minmax(13em, 1fr)), auto, 1em, center, center);
  }
  .emission {
    box-sizing: border-box;
    height: 13em;
    padding: 1em;
    @include flex(column, nowrap, 1em, space-between, flex-start);
  }
}