

.header {
    display: flex;
    align-items: center; /* Align the logo and buttons vertically */
    justify-content: space-between; /* Add spacing between the logo and buttons */
  }
  
  .header-logo {
    margin-right: 20px; /* Add margin to the right of the logo */
  }
  
  .header-boutons {
    display: flex; /* Align the buttons horizontally */
    .header-user-co{
        height: 16px;
        width: auto;
    }
    
    .header-boutons-connecter{
    
            @include buttonStyle($purple, $purple, white, auto, 1em, .5em 0em .5em 0em, 0px);
            font-weight: 500;
    }
    
    .search{
        border-color:transparent;
        border-bottom-color:#dcdcdc;
        border-right-color: #dcdcdc;
        border-radius: 5px;
    }
  }
  
  .header-boutons-connecter {
    margin-right: 10px; /* Add margin to the right of the connect button */
  }
  