

.topnav{
    display: none;
}

.nav{

        display: flex;
        justify-content: center;
        align-items: center;

      
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 1em;
  }
  
  .nav-item {
    margin: 0 10px;
    text-decoration: none;
  }
  