@import "var";
@import "buttons";
@import "fonts";
@import "header";
@import "footer";
@import "layout";
@import "direct";
@import "nav";
@import "footer";
@import "listeEmissionsPodcasts";
@import "recherche";


h2 {
  @include text-style(2em, inherit, bold);
}

.resultats {
  padding: 1em;
  .recherche {
    margin-bottom: 2em;
  }
  .barre-recherche {
    padding: .5em .5em .5em 1em;
    background-color: $lightLightGrey;
    border-bottom: 1px solid $lightGrey;
    @include flex(row, nowrap, .5em, space-between, center);
    margin-bottom: 1em;
  }
  input {
    background-color: $lightLightGrey;
    border: none;
    padding: 1em;
    width: 85%;
    @include text-style(1em, inherit, 400);
  }
  .genres {
    margin-top: 1em;
    button {
      display: inline-block !important;
      padding: .5em 1em .5em 1em;
      @include buttonStyle($transparent, $purple, $purple, auto, 1em, .2em);
      flex-grow: 2;
      &:hover {
        background-color: $purple;
        color: white;
        transition: background-color 0.3s;
      }
    }
  }
}

.theme {
  margin-bottom: 3em;
  h3 {
    @include text-style(1.5em, $purple, 500);
  }
}

.jour {
  margin-bottom: 3em;
  h3 {
    @include text-style(1.5em, $purple, 500);
  }
}

@media screen and (min-width: 700px) {
  h2 {
    @include text-style(2em, inherit, bold);
  }
  .resultats {
    padding: 1.5em;
    input {
      width: 95%
    }

  }
}